body{
		background:#ADD8E6;
}
.audio-player-cont{
	width: 500px;
	height: 180px;
	background:#f3ebdc;
	box-shadow: 0 0 6px 2px #c7a8a8;
	color: #003ba9;
	font-family: Verdana;
	font-size: 12px; 
}

.logo{
	float: left;
}

.player{
	float: right;
	margin: 7px;
}

.Song-title{
	width: 300px;
	padding: 5px 0px 5px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.Song-Slider{
	width: 300px;

}

.current-time{
	float: left;
	font-size: 10px; 
}

.duration{
	float: right;
	font-size: 10px;
}

.controllers{
	clear: both;
	display: table;
}

.controllers *{
	vertical-align: middle;
	margin-right: 2px;
}

.volume-slider{
	width: 90px;
	margin-left: 5px;
}

